.bridalpedia-collections {
    padding-bottom: 100px;

    h1 {
        font-family: $font-serif;
        color: $color-exergue;
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 40px 0 20px;
    }

    &__intro {
        display: inline-flex;
        align-self: flex-start;

        p {
        color: $color-exergue;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
        }
        
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
    }
    &__item {
        h2 {
            font-family: $font-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 1px;
            padding-bottom: 5px;
            text-transform: uppercase;
        }
        h3 {
            font-size: 16px;
            color: $color-2;
            letter-spacing: 1px;
        }
    }
    &__desc {
        margin: 10px 0 20px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        border-top: 1px solid $color-2;
        border-bottom: 1px solid $color-2;
    }
}

@media (max-width: 768px) {
    .bridalpedia-collections {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__intro {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1 {
            text-align: center;
        }
    }
}
