.cartesinvitation {
    display: grid; 
    grid-template-columns: 
    repeat(2, 1fr); 
    border-top: unset;
}


@media (max-width: 768px) {
    .cartesinvitation {
        display: grid;
        grid-template-columns: 1fr;
    }
}
