.designersseason {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    padding: 0 10px;
    margin: 65px 0 75px;

    strong {
        font-weight: 500;
    }
    a {
        font-weight: 200;
    }

   
}

