.text {
    padding: 45px 0;
    line-height: 130%;
    text-align: justify;

    &-title {
        font-size: 18px;
    }
    &-bold {
        font-weight: 500;
    }
    p {
        margin-bottom: 30px;
        font-weight: 300;
    }

    ul {
        padding-left: 50px;
        li {
            list-style-type: disc;
            font-weight: 300;
        }
        li:last-child {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 764px) {
    .text {
        padding: 20px;
    }
}
